* {
    margin: 0;
    padding: 0;
    outline: none;
}
a {
    display: inline-block;
}
.social-icon {
    font-size: 40px;
    margin: 0px 5px;
    color: #ff9800 !important;
}
#social a {
    width: 20%;
}
.label {
    background-color: moccasin;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    text-align: center;
}
#label-left .label{
    width: 48%;
}
#label-right .label{
    width: 48%;
}
#label-left .hover {
    cursor: pointer;
}
#label-left .hover:hover {
    background-color: deepSkyBlue;
    color: white;
}