<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://longmengua.github.io/css/main.css">
<link rel="stylesheet" href="https://longmengua.github.io/css/hypertext.css">
<link rel="stylesheet" href="https://longmengua.github.io/css/navigation.css">
<link rel="stylesheet" href="https://longmengua.github.io/css/rwd.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>
/* For dropdown list */

</style>
<body>

<!-- Page Container -->
<div id="index" class="w3-content" style="max-width:100%;">
    <div>
        <!-- Navigation bar -->
        <ul class="navBar">
            <li>
                <input id="radio1" v-model="navBarSwitcher" v-change="" type="radio" value="home" style="display:none;">
                <label for="radio1">Home</label>
                <!--            <a href="https://longmengua.github.io/">Home</a>-->
            </li>
            <li>
                <input id="radio2" v-model="navBarSwitcher" v-change="" type="radio" value="blog" style="display:none;">
                <label for="radio2">Blog</label>
                <!--            <a href="https://longmengua.github.io/html/blog">Blog</a>-->
            </li>
            <li>
                <div class="ln-selector">
                    <select v-model="selected" style="border: none; outline: none;">
                        <option v-for="option in options" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
            </li>
        </ul>
        <!-- The Grid -->
        <div class="w3-row-padding main">
            <!-- Left Column -->
            <div class="w3-third">
                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img style="width: 100%;border-radius: 50%;" alt="Avatar"
                             src="https://longmengua.github.io/assets/Profile.jpg">
                        <div style="text-align: center;">
                            <h2>{{i18ns[selected]['name']}}</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <!--Profile information-->
                        <div>
                            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{i18ns[selected]['title']}}
                            </p>
                            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{i18ns[selected]['location']}}
                            </p>
                            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>longmengua@gmail.com
                            </p>
                            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>0972-980-121</p>
                            <hr>
                        </div>
                        <!--languages-->
                        <div>
                            <div>
                                <p class="w3-large w3-text-theme"><b><i
                                        class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>{{i18ns[selected]['languageTitle']}}</b>
                                </p>
                                <div v-for="i18n in i18ns[selected]['languages']">
                                    <p>{{i18n['text']}}</p>
                                    <div class="w3-light-grey w3-round-xlarge w3-small">
                                        <div class="w3-container w3-center w3-round-xlarge w3-teal"
                                             v-bind:style="{ width:i18n['value'] + '%' }">{{i18n['value']}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!--Skills-->
                            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>{{i18ns[selected]['skillTitle']}}</b>
                            </p>
                            <div style="height: 300px;overflow: scroll;">
                                <div v-for="skill in skills">
                                    <p>{{skill['text']}}</p>
                                    <div class="w3-light-grey w3-round-xlarge w3-small">
                                        <div class="w3-container w3-center w3-round-xlarge w3-teal"
                                             v-bind:style="{ width:skill['value'] + '%' }">{{skill['value']}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!-- End Left Column -->
            <!-- Right Column -->
            <div class="w3-twothird">
                <!--Work Experience-->
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>{{i18ns[selected]['workExperienceTitle']}}
                    </h2>
                    <div class="w3-container" v-for="(workExperience, index) in i18ns[selected]['workExperience']">
                        <h5 class="w3-opacity"><b>{{workExperience['title']}}</b>&nbsp;<a
                                v-bind:href="index > workExperienceLinks.length ? null : workExperienceLinks[index]"><i
                                class="scalable fa fa-external-link fa-fw w3-margin-right"></i></a></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{workExperience['date']}}
                        </h6>
                        <p>{{workExperience['content']}}</p>
                        <hr>
                    </div>
                </div>
                <!--Education-->
                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>{{i18ns[selected]['educationTitle']}}
                    </h2>
                    <div class="w3-container" v-for="(education, index) in i18ns[selected]['education']">
                        <h5 class="w3-opacity"><b>{{education['title']}}</b>&nbsp;<a
                                v-bind:href="index > educationLinks.length ? null : educationLinks[index]"><i
                                class="scalable fa fa-external-link fa-fw w3-margin-right"></i></a></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{education['date']}}
                        </h6>
                        <p>{{education['content']}}</p>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- End Right Column -->
        </div>
    </div>
    <!-- End Grid -->
    <footer style="padding:20px 0px;" class="w3-container w3-teal w3-center w3-margin-top">
        <p>{{i18ns[selected]['footer'][1]}}</p>
        <a href="https://www.facebook.com/longmengua"><i style="font-size: 30px;"
                                                         class="fa fa-facebook-official w3-hover-opacity"></i></a>
        &nbsp;
        <a href="https://www.instagram.com/waltor1991/?r=nametag&fbclid=IwAR3DN39lbUdvQ5-aTia9AcAiJMHUrARZv3qewDOvNpCjiWRGRAgSOBPfo8M"><i
                style="font-size: 30px;" class="fa fa-instagram w3-hover-opacity"></i></a>
        &nbsp;
        <a href="https://www.linkedin.com/in/鴻文-黃-17b61b17b"><i style="font-size: 30px;"
                                                                class="fa fa-linkedin w3-hover-opacity"></i></a>
        &nbsp;
        <br>
        <p>
            <a href="https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_cv&stacked=h">{{i18ns[selected]['footer'][0]}}</a>
        </p>
    </footer>
    <v-footer selected="{{selected}}"></v-footer>
</div>
<!-- End Page Container -->
<!------------------------------------------------------------------------------------------->
<!--using vue.js framework is for implementing i18n, the reason I have chosen it is because of the light-weight size.-->
<script type="application/javascript">
</script>
<script type="application/javascript" src="https://longmengua.github.io/main.js"></script>
<script type="application/javascript" src="https://longmengua.github.io/js/footer.js"></script>
<script type="application/javascript" src="https://longmengua.github.io/js/methods.js"></script>
</body>
</html>