<div class="w3-row-padding main">
    <!-- Left Column -->
    <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
                <img style="width: 100%;border-radius: 50%;" alt="Avatar"
                     src="https://longmengua.github.io/assets/Profile.jpg">
                <div style="text-align: center;">
                    <h2>{{i18ns[selected]['name']}}</h2>
                </div>
            </div>
            <div class="w3-container">
                <!--Profile information-->
                <div>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{i18ns[selected]['title']}}
                    </p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{i18ns[selected]['location']}}
                    </p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>longmengua@gmail.com
                    </p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>0972-980-121</p>
                    <hr>
                </div>
                <!--languages-->
                <div>
                    <div>
                        <p class="w3-large w3-text-theme"><b><i
                                class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>{{i18ns[selected]['languageTitle']}}</b>
                        </p>
                        <div v-for="i18n in i18ns[selected]['languages']">
                            <p>{{i18n['text']}}</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal"
                                     v-bind:style="{ width:i18n['value'] + '%' }">{{i18n['value']}}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!--Skills-->
                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>{{i18ns[selected]['skillTitle']}}</b>
                    </p>
                    <div style="height: 300px;overflow: scroll;">
                        <div v-for="skill in skills">
                            <p>{{skill['text']}}</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal"
                                     v-bind:style="{ width:skill['value'] + '%' }">{{skill['value']}}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br>
    </div>
    <!-- End Left Column -->
    <!-- Right Column -->
    <div class="w3-twothird">
        <!--Work Experience-->
        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i
                    class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>{{i18ns[selected]['workExperienceTitle']}}
            </h2>
            <div class="w3-container" v-for="(workExperience, index) in i18ns[selected]['workExperience']">
                <h5 class="w3-opacity"><b>{{workExperience['title']}}</b>&nbsp;<a
                        v-bind:href="index > workExperienceLinks.length ? null : workExperienceLinks[index]"><i
                        class="scalable fa fa-external-link fa-fw w3-margin-right"></i></a></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{workExperience['date']}}
                </h6>
                <p>{{workExperience['content']}}</p>
                <hr>
            </div>
        </div>
        <!--Education-->
        <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i
                    class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>{{i18ns[selected]['educationTitle']}}
            </h2>
            <div class="w3-container" v-for="(education, index) in i18ns[selected]['education']">
                <h5 class="w3-opacity"><b>{{education['title']}}</b>&nbsp;<a
                        v-bind:href="index > educationLinks.length ? null : educationLinks[index]"><i
                        class="scalable fa fa-external-link fa-fw w3-margin-right"></i></a></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{education['date']}}
                </h6>
                <p>{{education['content']}}</p>
                <hr>
            </div>
        </div>
    </div>
    <!-- End Right Column -->
</div>