<ul class="navBar">
    <li>
        <input id="radio1" v-model="navBarSwitcher" type="radio" value="home" style="display:none;">
        <label for="radio1">Home</label>
        <!--            <a href="https://longmengua.github.io/">Home</a>-->
    </li>
    <li>
        <input id="radio2" v-model="navBarSwitcher" type="radio" value="blog" style="display:none;">
        <label for="radio2">Blog</label>
        <!--            <a href="https://longmengua.github.io/html/blog">Blog</a>-->
    </li>
    <li>
        <div class="ln-selector">
            <select v-model="selected" style="border: none; outline: none;">
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
    </li>
</ul>